<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- RTMP Host -->
    <category label="10075">
		<setting id="ffmpeg" type="text" label="Recording - ffmpeg executable" default="C:/apps/ffmpeg/bin/ffmpeg.exe" />
		<setting id="path" 	   type="text" label="output path" default="c:/temp/" />
		<setting id="buffer" type="text" label="Buffering time in ms" default="30000" />		
    </category>
</settings>
