<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting label="Bit Rate" type="lsep" />
    <setting label="30100" type="labelenum" id="vid_quality" default="2" lvalues="30101|30102|30103|30104" />
	
	 <setting label="MP4 File Workaround" type="lsep" />
	<setting id="delay" type="integer" label="Player delay (ms) - used to auto start player" default="4000" />
    <setting label="Enable Seek Hack (Eden Only - buggy)" type="bool" id="seek_hack" default="false" />	
	
	 <setting label="Recording" type="lsep" />
	<setting id="ffmpeg" type="text" label="Recording - ffmpeg executable" default="C:/apps/ffmpeg/bin/ffmpeg.exe" />
	<setting id="path" 	   type="text" label="Recording - output path" default="c:/temp/" />	
</settings>
